h1,
h2,
h3,
h4,
h5,
h6,
p,
span,a,select,option {
    font-family: "Fuggles", cursive;
    font-family: "Pixelify Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
    color: black;
}
